<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout_admin">
<head>
    <link rel="stylesheet" href="/css/admin/article_list.css" th:href="@{/css/admin/article_list.css}"/>
</head>
<body>
<link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"/>
<link rel="stylesheet" href="/webjars/font-awesome/4.7.0/css/font-awesome.min.css"/>
<link rel="stylesheet" href="/webjars/ionicons/2.0.1/css/ionicons.min.css"/>
<link rel="stylesheet" href="/webjars/AdminLTE/2.3.8/dist/css/AdminLTE.min.css"/>
<link rel="stylesheet" href="/webjars/AdminLTE/2.3.8/dist/css/skins/skin-blue.min.css"/>
<section class="content-header" layout:fragment="content-header">
    <h1>
        文章
        <small th:if="${articleListFormModel.word!=null and articleListFormModel.word!=''}" th:inline="text">
            "[[${articleListFormModel.word}]]"的搜索结果
        </small>
    </h1>
    <ol class="breadcrumb">
        <li><a th:href="@{/admin}"><i class="fa fa-dashboard"></i> 控制面板</a></li>
        <li class="active"><i class="fa fa-file"></i> 文章</li>
    </ol>
</section>

<section class="content" layout:fragment="content" th:object="${articleListFormModel}">
    <div class="row">
        <div class="col-md-12">
            <div class="pull-left">
                <ul class="subsubsub">
                    <li><a th:href="@{/admin/article}">全部<span class="text-muted">（11）</span></a> |</li>
                    <li><a th:href="@{/admin/article(author=${userId})}">我的</a><span class="text-muted">（1）</span> |
                    </li>
                    <li><a th:href="@{/admin/article(publish=true)}">已发布</a><span class="text-muted">（11）</span> |</li>
                    <li><a th:href="@{/admin/article(publish=false)}">未发布</a><span class="text-muted">（0）</span></li>
                </ul>
            </div>
            <div class="pull-right">
                <form class="form-inline" th:action="@{/admin/article}" method="get">
                    <input class="form-control" th:field="*{word}"/>
                    <button class="btn btn-default" type="submit">搜索文章</button>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="pull-left form-inline">
                <div class="form-group" style="margin-right: 12px" th:fragment="article_action">
                    <select class="form-control">
                        <option value="0">批量操作</option>
                        <option value="1">取消发布</option>
                        <option value="2">删除文章</option>
                    </select>
                    <button class="btn btn-default">应用</button>
                </div>
                <div class="form-group">
                    <select class="form-control" th:field="*{sortId}">
                        <option value="-1">所有分类目录</option>
                        <option value="0">未分类</option>
                        <option th:each="sortEntity : ${sortEntities}" th:text="${sortEntity.name}"
                                th:value="${sortEntity.id}">
                            分类名
                        </option>
                    </select>
                    <button class="btn btn-default">筛选</button>
                </div>
            </div>
            <div class="pull-right form-inline">
                <div class="form-group">
                    <span th:inline="text">[[${articleEntities.totalElements}]]项目</span>
                    <span th:fragment="pagination_group_left">
                        <a class="btn btn-default tablenav-pages-navspan"
                           th:classappend="${articleEntities.first?'disabled':''}">
                            <i class="fa fa-angle-double-left"></i>
                        </a>
                        <a class="btn btn-default tablenav-pages-navspan"
                           th:classappend="${articleEntities.first?'disabled':''}">
                            <i class="fa fa-angle-left"></i>
                        </a>
                    </span>
                    <span>第</span>
                    <input class="form-control input-sm" th:value="${articleEntities.number+1}"/>
                    <span th:inline="text">页, 共[[${articleEntities.totalPages}]]页</span>
                    <span th:fragment="pagination_group_right">
                        <a class="btn btn-default tablenav-pages-navspan"
                           th:classappend="${articleEntities.last?'disabled':''}">
                            <i class="fa fa-angle-right"></i>
                        </a>
                        <a class="btn btn-default tablenav-pages-navspan"
                           th:classappend="${articleEntities.last?'disabled':''}">
                            <i class="fa fa-angle-double-right"></i>
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box box-article-list">
                <div class="box-body">
                    <table class="table table-striped">
                        <thead>
                        <tr th:fragment="article_list_thead_tr">
                            <td><input class="checkbox" type="checkbox"/></td>
                            <th>标题</th>
                            <th>作者</th>
                            <th>分类</th>
                            <th>标签</th>
                            <th>日期</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="article-row" th:each="articleEntity : ${articleEntities}"
                            th:with="sortEntity=${articleEntity.sortBySort}">
                            <th><input class="checkbox" type="checkbox"/></th>
                            <td>
                                <strong><a href="#" th:href="@{/admin/article/{id}(id=${articleEntity.id})}"
                                           th:text="${articleEntity.title}">文章名</a></strong>
                                <div class="row-action">
                                    <span><a href="#" th:href="@{/admin/article/{id}(id=${articleEntity.id})}">编辑</a> | </span>
                                    <span><a href="#">取消发布</a> | </span>
                                    <span><a href="#" class="text-warning">删除文章</a> | </span>
                                    <span><a href="#" th:href="@{/article/{id}(id=${articleEntity.id})}"
                                             target="_blank">查看</a></span>
                                </div>
                            </td>
                            <td><a href="#" th:href="@{/admin/article(author=${articleEntity.userByAuthor.id})}"
                                   th:text="${articleEntity.userByAuthor.nick}">作者名</a></td>
                            <td th:if="${articleEntity.sort!=0 and sortEntity!=null}"><a href="#"
                                                                                         th:href="@{/admin/article(sortId=${sortEntity.id})}"
                                                                                         th:text="${sortEntity.name}">分类名</a>
                            </td>
                            <td th:unless="${articleEntity.sort!=0 and sortEntity!=null}"><a
                                    th:href="@{/admin/article(sortId=0)}">未分类</a></td>
                            <td th:text="${articleEntity.tag==null or articleEntity.tag==''?'-':articleEntity.tag}">标签
                            </td>
                            <td th:inline="text">
                                [[${articleEntity.publish?'已发布':'未发布'}]]
                                <br/>
                                <abbr th:title="${#dates.format(articleEntity.createTime,'YYYY-MM-dd HH:mm:ss')}">[[${#dates.format(articleEntity.createTime,'YYYY-MM-dd')}]]</abbr>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr th:replace="::article_list_thead_tr"></tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="pull-left form-inline">
                <div th:replace="::article_action"></div>
            </div>
            <div class="pull-right form-inline">
                <div class="form-group">
                    <span th:inline="text">[[${articleEntities.totalElements}]]项目</span>
                    <span th:replace="::pagination_group_left"></span>
                    <span th:inline="text">第[[${articleEntities.number+1}]]页, 共[[${articleEntities.totalPages}]]页</span>
                    <span th:replace="::pagination_group_right"></span>
                </div>
            </div>
        </div>
    </div>
</section>

<div layout:fragment="scripts">

</div>
</body>
</html>
