<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout_admin">
<head>
    <link rel="stylesheet" th:href="@{/css/admin/index.css}"/>
</head>
<body>
<link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"/>
<link rel="stylesheet" href="/webjars/font-awesome/4.7.0/css/font-awesome.min.css"/>
<link rel="stylesheet" href="/webjars/ionicons/2.0.1/css/ionicons.min.css"/>
<link rel="stylesheet" href="/webjars/adminlte/2.3.11/dist/css/AdminLTE.min.css"/>
<link rel="stylesheet" href="/webjars/adminlte/2.3.11/dist/css/skins/skin-blue.min.css"/>
<link rel="stylesheet" href="/css/admin/index.css"/>
<section class="content-header" layout:fragment="content-header">
    <h1>概况</h1>
    <ol class="breadcrumb">
        <li><a th:href="@{/admin}"><i class="fa fa-dashboard"></i> 控制面板</a></li>
        <li class="active">概况</li>
    </ol>
</section>

<section class="content" layout:fragment="content">
    <div class="row">
        <div class="col-md-6">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">系统信息</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                                title="Collapse">
                            <i class="fa fa-minus"></i></button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip"
                                title="Remove">
                            <i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <p th:inline="text">Version [[${projectVersion}]]</p>
                    <p th:inline="text">Spring-boot [[${springBootVersion}]]</p>
                    <p th:inline="text">[[${ServerInfo.getServerInfo()}]] [[${ServerInfo.getServerNumber()}]]
                        [[${ServerInfo.getServerBuilt()}]]</p>
                    <p th:inline="text">[[${System.getProperty("java.vm.name")}]]
                        [[${System.getProperty("java.version")}]]</p>
                    <p th:inline="text">[[${System.getProperty("os.name")}]] [[${System.getProperty("os.arch")}]]
                        [[${System.getProperty("os.version")}]]</p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="info-box">
                        <span class="info-box-icon bg-yellow"><i class="ion ion-pricetags"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">分类</span>
                            <span class="info-box-number" th:text="${sortCount}">2,000</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="info-box">
                        <span class="info-box-icon bg-green"><i class="ion ion-document-text"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">文章</span>
                            <span class="info-box-number" th:text="${articleCount}">760</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="info-box">
                        <span class="info-box-icon bg-yellow"><i class="ion ion-person-stalker"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">用户</span>
                            <span class="info-box-number" th:text="${userCount}">2,000</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">最新文章</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                                title="Collapse">
                            <i class="fa fa-minus"></i></button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip"
                                title="Remove">
                            <i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <ul class="article-list-overview">
                        <li th:each="article : ${recentlyArticles}">
                            <span class="text-muted"
                                  th:text="${#dates.format(article.createTime,'HH:mm yyyy-MM-dd')}"></span>
                            <a th:href="@{/article/{id}(id=${article.id})}" th:text="${article.title}"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div th:replace="fragments/currently_login_fragment::currently_login(${recentlyLoginLogs})"></div>
        </div>
    </div>
</section>

<div layout:fragment="scripts">
    <script th:src="@{/js/admin/ip_api.js}"></script>
</div>
</body>
</html>
