<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout_admin">
<head>

</head>
<body>
<link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"/>
<link rel="stylesheet" href="/webjars/font-awesome/4.7.0/css/font-awesome.min.css"/>
<link rel="stylesheet" href="/webjars/ionicons/2.0.1/css/ionicons.min.css"/>
<link rel="stylesheet" href="/webjars/adminlte/2.3.11/dist/css/AdminLTE.min.css"/>
<link rel="stylesheet" href="/webjars/adminlte/2.3.11/dist/css/skins/skin-blue.min.css"/>
<section class="content-header" layout:fragment="content-header">
    <h1>登录记录</h1>
    <ol class="breadcrumb">
        <li><a th:href="@{/admin}"><i class="fa fa-dashboard"></i> 控制面板</a></li>
        <li>用户管理</li>
        <li class="active">登录记录</li>
    </ol>
</section>

<section class="content" layout:fragment="content">
    <div class="row">
        <div class="col-md-12">
            <div th:replace="fragments/currently_login_fragment::currently_login(${recentlyLoginLogs})"></div>
        </div>
    </div>
</section>

<div class="box-footer clearfix" layout:fragment="currently_login_footer">
    <div th:replace="fragments/pagination_fragment::pagination(${recentlyLoginLogs},${path},null)"></div>
</div>

<div layout:fragment="scripts">
    <script th:src="@{/js/admin/ip_api.js}"></script>
</div>
</body>
</html>
