<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout_admin">
<head>

</head>
<body>
<link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"/>
<link rel="stylesheet" href="/webjars/font-awesome/4.7.0/css/font-awesome.min.css"/>
<link rel="stylesheet" href="/webjars/ionicons/2.0.1/css/ionicons.min.css"/>
<link rel="stylesheet" href="/webjars/adminlte/2.3.11/dist/css/AdminLTE.min.css"/>
<link rel="stylesheet" href="/webjars/adminlte/2.3.11/dist/css/skins/skin-blue.min.css"/>
<section class="content-header" layout:fragment="content-header"
         th:with="breadcrumbName=${sortFormModel.id==0?'新建分类':sortFormModel.name}">
    <h1 th:text="${breadcrumbName}">编辑分类</h1>
    <ol class="breadcrumb">
        <li><a th:href="@{/admin}"><i class="fa fa-dashboard"></i> 控制面板</a></li>
        <li><a th:href="@{/admin/sort}"><i class="fa fa-tags"></i> 分类</a></li>
        <li th:text="${breadcrumbName}">编辑分类</li>
    </ol>
</section>

<section class="content" layout:fragment="content">
    <form method="post" th:action="@{${sortFormModel.id==0?'/admin/new_sort':'/admin/sort/'+sortFormModel.id}}"
          th:object="${sortFormModel}">
        <div class="col-md-6">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">分类</h3>
                </div>
                <div class="box-body">
                    <div class="form-group" th:classappend="${#fields.hasErrors('name')?'has-error':''}">
                        <label>分类名</label>
                        <input type="text" class="form-control" th:field="*{name}"/>
                        <span class="help-block" th:errors="*{name}">Error</span>
                    </div>
                    <div class="form-group">
                        <label>上级分类</label>
                        <select class="form-control" th:field="*{parent}">
                            <option value="0">--无--</option>
                            <option th:each="parentSort : ${parentSorts}" th:text="${parentSort.name}"
                                    th:value="${parentSort.id}" th:disabled="${parentSort.id==sortFormModel.id}">option
                                1
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>类型</label>
                        <select class="form-control" th:field="*{sortType}">
                            <option th:each="sortType : *{sortTypes}" th:text="${sortType}" th:value="${sortType}">
                                option 1
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>排序</label>
                        <input type="text" class="form-control" style="max-width: 80px" th:field="*{taxis}"/>
                    </div>
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">保存</button>
                    <a class="pull-right btn btn-default" th:href="@{/admin/sort}">返回分类列表</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="alert alert-danger alert-dismissible"
                 th:style="'display:'+${#fields.hasAnyErrors()?'':'none'}" th:inline="text">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-ban"></i> Error!</h4>
                [[${message}]]
            </div>
            <div class="alert alert-success alert-dismissible"
                 th:style="'display:'+${#fields.hasAnyErrors() or message==null?'none':''}">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-check"></i> Success!</h4>
                分类信息已保存.
            </div>
        </div>
    </form>
</section>

</body>
</html>
