<html xmlns:th="http://www.thymeleaf.org">
<body>
<link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"/>

<ul class="pagination" th:fragment="pagination(page,path)">
    <li class="disabled" th:if="${page.first}">
        <span class="fa fa-angle-double-left"></span>
    </li>
    <li th:unless="${page.first}">
        <a th:href="@{{path}(path=${path},page=0)}">
            <span class="fa fa-angle-double-left"></span>
        </a>
    </li>

    <tag th:remove="tag" th:each="var : ${#numbers.sequence(0,page.totalPages - 1)}">
        <li th:class="${page.number==var}?'active':''">
            <a th:href="@{{path}(path=${path},page=${var})}" th:text="${var + 1}">页码</a>
        </li>
    </tag>

    <li class="disabled" th:if="${page.last}">
        <span class="fa fa-angle-double-right"></span>
    </li>
    <li th:unless="${page.last}">
        <a th:href="@{{path}(path=${path},page=${page.totalPages - 1})}">
            <span class="fa fa-angle-double-right"></span>
        </a>
    </li>
</ul>

</body>
</html>
