<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <link rel="stylesheet" href="/css/account/login.css" th:href="@{/css/account/login.css}"/>
</head>
<body>
<link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"/>
<div class="container" layout:fragment="content">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li></li>
                <li><a th:href="@{/}">首页</a></li>
                <li class="active">登录</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <form class="col-md-12 form-horizontal" method="post">
            <div class="form-group" th:if="${error}">
                <span class="col-md-offset-2 col-md-10 text-danger">用户名或密码错误</span>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="username">邮箱</label>
                <div class="col-md-10"><input class="form-control" type="email" name="username" id="username"/></div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="password">密码</label>
                <div class="col-md-10"><input class="form-control" type="password" name="password" id="password"/></div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="remember-me"/>
                            记住我?
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-default">登录</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>
