<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <link rel="stylesheet" th:href="@{/css/home/search.css}"/>
</head>
<body>
<link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"/>
<link rel="stylesheet" href="/webjars/font-awesome/4.7.0/css/font-awesome.min.css"/>
<link rel="stylesheet" href="/css/home/search.css"/>
<div class="container" layout:fragment="content">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li></li>
                <li><a th:href="@{/}">首页</a></li>
                <li class="active">搜索</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <form class="search" th:action="@{/search}">
                <div class="form-group">
                    <input name="word" type="text" class="form-control input-lg" placeholder="搜索" th:value="${word}"/>
                    <i class="fa fa-search"></i>
                </div>
            </form>
        </div>
    </div>

    <tag th:remove="tag" th:unless="${word==null or word==''}">
        <div class="row">
            <div class="col-md-12">
                <h1 th:text="${word} + ' 的搜索结果, 共 ' + ${results.totalElements} + ' 条'"></h1>
            </div>
        </div>

        <hr/>

        <div class="row">
            <ul class="col-md-8 search-list">
                <li th:each="articleEntity : ${results}">
                    <h3>
                        <a th:href="@{/article/{id}(id=${articleEntity.id})}" th:text="${articleEntity.title}">文章标题</a>
                    </h3>
                    <p class="text-muted" th:text="${articleEntity.content}">文章摘要</p>
                </li>
            </ul>
        </div>

        <div class="row" th:if="${results.totalPages>1}">
            <div class="col-md-12">
                <div th:replace="fragments/pagination_fragment::pagination(${results},${path},'word=' + ${word})"></div>
            </div>
        </div>
    </tag>

</div>
</body>
</html>
